/* Defaults */
body {
    margin: 0;
}

/* FOR MY ROWS AND COLUMNS */
.row {
    margin: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

* {
    box-sizing: border-box;
}


/* First column */
img {
    opacity: 0.1;
    width: 100%;
    
}

.section1 {
    display: block;
    background-color: #188038;
   
}
.section1 h1 {
    margin-bottom: 0;
}
.section1 h1 span {
    text-transform: uppercase;
    font-size: 51px;
    
}

.section-1a {
    padding: 3%;
    position: relative;
    top: -900px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    /* font-weight: bold; */
    word-spacing: 1;
    margin: auto;
    
}


.section-1a a {
    text-decoration: none;
    font-size: 35px;
    color: white;
}


hr {
    width: 25%;
    float: left;
    margin: 0;
    
}


/* SECTION 2 */


.section2 {
    padding: 5%;
    position: relative;
    top: -390px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section2a h2 {
    font-size: 16px;

}

.section2a h2 a {
    color: #188038;
    text-decoration: none;
}
input[type="text"], input[type="password"], input[type="email"], button  {
    font-size: 16px;
    width: 550px;
    line-height: 1.5;
    border: 2px thin black;
    border-radius: 3px;
    padding: 4px;
       
}

button {
    background-color: #188038;
    color: white;
    border: 0;
}
