/* body {
  background-image: url(../Volunteer.ng/img/larm-rmah-AEaTUnvneik-unsplash.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}

.login-page {
  width: 360px;
  margin: auto;
  border: 40%;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
  border: 45px;
  vertical-align: middle;
}

input {
  width: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
  margin: 0 0 15px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 4px;
}

button {
  background-color: #188038; 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
} */
