:root {
width: 100vw; /*Prevent page width from exceeding viewport width*/
overflow-x: hidden;
}

body {
  width: 100vw; /*Prevent page width from exceeding viewport width*/
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-items: center; /*Applies to flex containers. Centers content on the cross axis*/
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {

}

h5 {

}

h6 {

}

p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Utility Classes*/
.wide-paragraph {
  padding: 0 20%;
}

.dark-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dark-background ~ * { /*Using the sibling selector to keep main content above the dark background*/
  z-index: 1;
}